<div class="row">
  <div class="col-sm">
    <% if notice %>
    <div class="alert alert-success">
      <span id="notice"><%= notice %></span>
    </div>
    <% end %>
  </div>
</div>

<div class="row" style="margin-bottom: 32px;">
  <div class="col-sm-6">
    <h1><%= @publish_request.title %></h1>
  </div>
  <div id="<%= @publish_request.id %>-actions" class="col-sm-6">
    <%= render partial: "riddler_admin/publish_requests/actions", locals: { publish_request: @publish_request } %>
  </div>
</div>
<div class="row" style="margin-bottom: 32px;">
  <div class="col-sm-6">
    <%= @publish_request.description %>
  </div>
</div>

<%= render partial: "riddler_admin/preview_step", locals: { preview_contexts: @preview_contexts, step: @publish_request.content } %>
