<div class="row">
  <div class="col-sm">
    <% if notice %>
    <div class="alert alert-success">
      <span id="notice"><%= notice %></span>
    </div>
    <% end %>
  </div>
</div>

<div class="row" style="margin-bottom: 32px;">
  <div class="col-sm-6">
    <h1><%= @publish_request.title %></h1>
  </div>
  <div id="<%= @publish_request.id %>-actions" class="col-sm-6">
    <%= render partial: "riddler_admin/publish_requests/actions", locals: { publish_request: @publish_request } %>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <h4>Preview Contexts</h4>
    <div class="list-group" id="preview-sections-tab" role="tablist">
      <% @preview_contexts.each do |ctx| %>
        <a class="list-group-item list-group-item-action step-context-preview" id="list-preview-<%= ctx.id %>" data-step-id="<%= @publish_request.content.id %>" data-pctx-id="<%= ctx.id %>" data-toggle="list" href="#preview-context-<%= ctx.id %>" role="tab" aria-controls="preview-context-<%= ctx.id %>"><%= ctx.title %></a>
      <% end %>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="tab-content" id="nav-tabContent">
      <% @preview_contexts.each do |ctx| %>
        <div class="tab-pane fade" id="preview-context-<%= ctx.id %>" role="tabpanel" aria-labelledby="list-preview-context-<%= ctx.id %>">
          <pre></pre>
        </div>
      <% end %>
    </div>
  </div>
</div>
