<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta http-equiv="content-language" content="en" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= stylesheet_link_tag    "riddler_admin/application", media: "all" %>
  <%= javascript_include_tag "riddler_admin/application" %>
  <script>
    window.riddler_admin_path = "<%= riddler_admin.root_path %>"
  </script>

  <%= additional_javascript_includes %>
</head>
<body class="pt-5">
  <%= render partial: "riddler_admin/navbar" %>

  <div class="container mt-4">
    <%= yield %>
  </div>
</body>
</html>
