<!DOCTYPE html>
<html lang="en">
<head>
  <title>Riddler Admin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= stylesheet_link_tag    "riddler_admin/application", media: "all" %>
  <%= javascript_include_tag "riddler_admin/application" %>
</head>
<body style="max-width: 700px; margin: 16px auto;">

<%= yield %>

</body>
</html>
