<ul class="list-group">
  <% if data["message"] %>
    <li class="list-group-item">
      <%= data["message"] %>
    </li>
  <% else %>
    <% data["elements"].each do |element| %>
      <li class="list-group-item">
        <% case element["type"] %>
        <% when "Link" %>
          <a href="<%= element["href"] %>" target="_blank"><%= element["text"] %></a>
        <% when "Heading" %>
          <h5><%= element["text"] %></h5>
        <% when "Image" %>
          <img src="<%= element["src"] %>" alt="<%= element["alt"] %>" />
        <% when "Text" %>
          <%= element["text"] %>
        <% else %>
          Unknown Element type "<%= element["type"] %>"
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
