<div class="row">
  <div class="col-sm">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h1>Steps</h1>
  </div>
  <div class="col-sm-6">
    <%= link_to 'New step', new_step_path, class: 'btn btn-primary float-right'%>
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Type</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>
      <tr>
        <td><%= step.id %></td>
        <td><%= step.type.demodulize %></td>
        <td><%= step.name %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Show', step, class: 'btn btn-light' %>
            <%= link_to 'Edit', edit_step_path(step), class: 'btn btn-light' %>
            <%= link_to 'Destroy', step, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
