<div class="row">
  <div class="col-sm">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h1>
      <%= @step.name %>
      <small class="text-muted" style="font-size: 0.4em;">
        <%= @step.type.demodulize.titleize %> Step
        <%= @step.id %>
      </small>
    </h1>
  </div>
  <div class="col-sm-6">
      <%= link_to 'Edit name', edit_step_path(@step), class: 'btn btn-light float-right' %>
  </div>
</div>

<%= render partial: @step.to_partial_path("show") %>
