<%= form_with model: slug, local: true do |form| %>
  <div class="row">
    <% if slug.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(slug.errors.count, "error") %> prohibited this slug from being saved:</h2>

        <ul>
        <% slug.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <%= form.label :name %>
      <%= form.text_field :name, class:"form-control" %>
    </div>
    <div class="form-group col">
      <%= form.label :status %>
      <%= form.select :status, options_for_select([["Live", "live"], ["Paused", "paused"]], slug.status), {}, class:"form-control" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <%= form.label :definition %>
      <%= form.collection_select :definition_id, RiddlerAdmin::Definition.all, :id, :title, {prompt: true}, {class:"form-control"}  %>
    </div>
    <div class="form-group col">
      <%= form.label :interaction_identity %>
      <%= form.text_field :interaction_identity, class:"form-control", placeholder: "e.g. {{ ids.user_id }}" %>
      <small class="form-text text-muted">This liquid string will determine when an interaction is used again.</small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <%= form.submit "Save slug", class: "btn btn-primary" %>
      <%= link_to "Cancel", slugs_path, class: "btn btn-light" %>
    </div>
  </div>
<% end %>
