<div class="row">
  <% if notice %>
  <div class="col-sm">
    <div class="alert alert-success">
      <span id="notice"><%= notice %></span>
    </div>
  </div>
  <% end %>
</div>

<div class="row">
  <div class="col-sm-6">
    <h1>Slugs</h1>
  </div>
  <div class="col-sm-6">
    <%= link_to "New slug", new_slug_path, class: "btn btn-primary float-right"%>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>ContentDefinition</th>
      <th>Status</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slugs.each do |slug| %>
      <tr>
        <td><%= link_to slug.name, edit_slug_path(slug) %></td>
        <td><%= slug.content_definition.title %></td>
        <td><%= slug.status.titleize %></td>

        <td>
          <%= link_to "Delete", slug, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-light" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
