<li class="list-group-item" id="<%= element.id %>" data-id="<%= element.id %>">
  <div>
    <%= link_to "Toggle", "#", onclick: "$('##{element.id}-detail').toggle(); return false;" %>
    <span class="handle">Move</span>
  </div>

  <h5>
    <%= element.name %>
    <span class="small text-muted"><%= element.short_name %> Element</span>
  </h5>

  <div id="<%= element.id %>-detail" class="<%= element.container.id %>-detail" style="display: none;">
    <div id="<%= element.id %>-form">
      <%= render partial: "riddler_admin/elements/form", locals: { element: element } %>
    </div>

    <%= render partial: element.to_partial_path("detail"), locals: { element: element } %>
  </div>
</li>
