<li class="list-group-item" id="<%= element.id %>" data-id="<%= element.id %>">
  <div>
    <%= link_to "Toggle", "#", onclick: "$('##{element.id}-detail').toggle(); return false;" %>
    <span class="handle">Move</span>
  </div>

  <%= render partial: element.to_partial_path("show"), locals: { element: element } %>

  <div id="<%= element.id %>-detail" class="<%= element.container.id %>-detail" style="display: none;">
    <h5><%= element.short_name %> Element</h5>

    <%= form_with model: element do |f| %>
      <% if element.errors.any? %>
        ERRORS
      <% end %>

      <div class="form-row">
        <div class="form-group col">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
          <small class="form-text text-muted">Cannot start with a capital letter or a number. Clients can use this for custom rendering.</small>
        </div>

        <div class="form-group col">
          <%= f.label :include_predicate %>
          <%= f.text_field :include_predicate, class: "form-control", placeholder: "e.g. params.user_id is present" %>
          <small class="form-text text-muted">Use data from the context that evaluates to <code>true</code> or <code>false</code></small>
        </div>
      </div>

      <%= render partial: element.to_partial_path("form"), locals: { f: f, element: element } %>

      <div class="form-row">
        <div class="form-group col">
          <%= f.submit 'Update element', class: 'btn btn-outline-primary' %>
          <%= link_to "Delete", element, method: :delete, remote: true, data: { confirm: "Are you sure?" }, class: 'btn btn-link' %>
        </div>
      </div>

    <% end %>

    <%= render partial: element.to_partial_path("detail"), locals: { element: element } %>
  </div>
</li>
