<li class="list-group-item" id="<%= element.id %>" data-id="<%= element.id %>">

  <b><%= element.short_name %> Element</b>

<%= form_with model: element do |f| %>
  <div class="form-group">

  </div>
    <% if element.errors.any? %>
      ERRORS
    <% end %>

    <div class="form-row well">
      <div class="form-group col-md-6">
        <%= f.label :name, 'Element ID' %>
        <%= f.text_field :name, class: 'form-control' %>
        <small class="form-text text-muted">Cannot start with a capital letter or a number.</small>
      </div>
    </div>

    <%= render partial: element.to_partial_path("form"), locals: { f: f } %>


    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.submit 'Update element', class: 'btn btn-outline-primary' %>
        <%= link_to "Delete", element, method: :delete, remote: true, data: { confirm: "Are you sure?" }, class: 'btn btn-link' %>
      </div>
    </div>

  <% end %>

</li>
