<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top border-bottom border-white">
  <%= brand_link %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if ::RiddlerAdmin.config.main_app_name.present? %>
        <li class="nav-item">
          <%= link_to ::RiddlerAdmin.config.app_name, riddler_admin.root_path, class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "Contexts", preview_contexts_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Toggles", toggles_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Content", steps_path, class: "nav-link" %>
      </li>
      <% if ::RiddlerAdmin.configuration.remote_riddler? %>
        <li class="nav-item">
          <%= link_to "Publish Requests", publish_requests_path, class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "Slugs", slugs_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
