<script>
  $(document).ready(function(){
    $(".step-context-preview").first().click()
  })
</script>

<div class="row">
  <div class="col-sm-3">
    <h4>Preview Contexts</h4>
    <div class="list-group" id="preview-sections-tab" role="tablist">
      <% preview_contexts.each do |ctx| %>
        <a class="list-group-item list-group-item-action step-context-preview" id="list-preview-<%= ctx.id %>" data-step-id="<%= step.id %>" data-pctx-id="<%= ctx.id %>" data-toggle="list" href="#preview-context-<%= ctx.id %>" role="tab" aria-controls="preview-context-<%= ctx.id %>"><%= ctx.title %></a>
      <% end %>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="tab-content" id="nav-tabContent">
      <% preview_contexts.each do |ctx| %>
        <div class="tab-pane fade" id="preview-context-<%= ctx.id %>" role="tabpanel" aria-labelledby="list-preview-context-<%= ctx.id %>">
          <ul class="nav nav-pills" id="<%= ctx.id %>-type" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="<%= ctx.id %>-visual-tab" data-toggle="tab" href="#<%= ctx.id %>-visual" role="tab" aria-controls="<%= ctx.id %>-visual" aria-selected="true">Visual</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="<%= ctx.id %>-json-tab" data-toggle="tab" href="#<%= ctx.id %>-json" role="tab" aria-controls="<%= ctx.id %>-json" aria-selected="false">JSON</a>
            </li>
          </ul>
          <div class="tab-content" id="<%= ctx.id %>-typeContent">
            <div class="tab-pane fade show active" id="<%= ctx.id %>-visual" role="tabpanel" aria-labelledby="<%= ctx.id %>-visual-tab">
            </div>
            <div class="tab-pane fade" id="<%= ctx.id %>-json" role="tabpanel" aria-labelledby="<%= ctx.id %>-json-tab">
              <pre></pre>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
