<%= form_with model: @element do |f| %>
  <% if @element.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@element.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% @element.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="card" style="margin-bottom: 32px;">
  <div class="card-body">

    <div class="card-title">
      <h5>New <%= @element.short_name %> Element</h5>
    </div>

    <%= f.hidden_field :id %>
    <%= f.hidden_field :type %>
    <%= f.hidden_field :container_type %>
    <%= f.hidden_field :container_id %>

    <div class="form-row well">
      <div class="form-group col-md-6">
        <%= f.label :name, 'Element ID' %>
        <%= f.text_field :name, class: 'form-control' %>
        <small class="form-text text-muted">Cannot start with a capital letter or a number.</small>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :include_predicate %>
        <%= f.text_field :include_predicate, class: "form-control", placeholder: "e.g. parms.user_id is present" %>
        <small class="form-text text-muted">Use data from the context that evaluates to <code>true</code> or <code>false</code></small>
      </div>
    </div>

    <%= render partial: "#{@element.to_partial_path}/form", locals: { f: f } %>

    <%= f.submit 'Add element', class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>
