<%= form_with model: @element do |f| %>
  <% if @element.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@element.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% @element.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h5>New Element</h5>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :type %>
  <%= f.hidden_field :container_type %>
  <%= f.hidden_field :container_id %>

  <%= render partial: "#{@element.to_partial_path}/form", locals: { f: f } %>

  <%= f.submit %>
<% end %>
