<div class="row">
  <% if notice %>
  <div class="col-sm">
    <span id="notice"><%= notice %></span>
  </div>
  <% end %>
</div>

<div class="row">
  <div class="col-sm-6">
    <h1>Feature Flags</h1>
  </div>
  <div class="col-sm-6">
    <%= link_to "New Feature Flag", new_feature_flag_path, class: "btn btn-primary float-right"%>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Id</th>
      <th>Enabled</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feature_flags.each do |feature_flag| %>
      <tr>
        <td><%= link_to feature_flag.name, feature_flag %></td>
        <td><%= feature_flag.id %></td>
        <td><%= feature_flag.enabled %></td>

        <td>
            <%= link_to "Delete", feature_flag, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-light" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
